
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
  }
  
/* Enter your styling here */
@import url('https://fonts.googleapis.com/css?family=Mandali/Raleway:900&display=swap');
input[type="radio"]{
position:absolute;
top:-9999em;
}

html,body{
  font-family:Mandali,Arial,sans-serif;
  font-size:16px;
}

.center{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
#board{
width:50vmin;
height:50vmin;
display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
}

.tile{
  margin:5%;
  position:relative;
}
.tile label,
.tile div{
  display:block;
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  background:rgba(0,0,0,0.10);
  font-family:Raleway,Courier,'Courier New',Sans,sans-serif;
  font-weight:bolder;
}
.tile div{
  display:none;
  overflow:hidden;
  text-shadow:0 1px 6px rgba(0,0,0,0.85)
}
label[for$='-x']{
  z-index:1;
}

input:checked~#board label[for$="-o"]{
  z-index:2;
}
input:checked~input:checked~#board label[for$='x']{
  z-index:3;
}
input:checked~input:checked~input:checked~#board label[for$='x']{
  z-index:4;
}
input:checked~input:checked~input:checked~input:checked~#board label[for$='x']{
  z-index:5;
}
input:checked~input:checked~input:checked~input:checked~input:checked~#board label[for$='x']{
  z-index:6;
}
input:checked~input:checked~input:checked~input:checked~input:checked~input:checked~#board label[for$='x']{
  z-index:7;
}
input:checked~input:checked~input:checked~input:checked~input:checked~input:checked~input:checked~#board label[for$='x']{
  z-index:8;
}
input:checked~input:checked~input:checked~input:checked~input:checked~input:checked~input:checked~input:checked~#board label[for$='x']{
  z-index:9;
}
